@{
    ViewBag.Title = "Cambiar Password";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<center style="padding-top:10%;">
    <div class="cuadro-login" style="border-radius:15px">
        <div class="panel-primary">
            <div class="panel-heading" style="border-top-left-radius:15px; border-top-right-radius:15px">
                <h3>Cambiar tu password</h3>
            </div>
            <div class="panel-body">
                <section id="loginForm">
                    <p>
                        Por favor revise su correo electrónico para restablecer su contraseña.
                    </p>
                    <hr />
                    <a class="btn btn-primary" href="@Url.Action("Index","Home")">Ok</a>
                </section>
            </div>

        </div>
    </div>
</center>


