@{
    ViewBag.Title = "Cambiar Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row align-self-center justify-content-center">
        <div class="col-sm-12 col-md-5 align-self-center pt-5 pb-5 justify-content-center">
            <div class="panel container cuadro-border">
                <div class="panel-heading pt-2">
                    <h3>Cambiar tu password</h3>
                    <hr />
                </div>
                <div class="panel-body">
                    <p>
                        Por favor revise su correo electrónico para restablecer su contraseña.
                    </p>
                    <hr />
                    <a class="btn btn-giroala" href="@Url.Action("Index","Home")">Ok</a>
                </div>
            </div>

        </div>
    </div>
</div>


