@model Chavo.ECommerce.Models.RegistersViewModel
@{
    ViewBag.Title = "Message Register";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<center style="padding-top:10%">
    <div class="cuadro-login" style="border-radius:15px; width:50%">
        <div class="panel panel-primary m-4">
            <div class="panel-heading" style="border-top-left-radius:15px; border-top-right-radius:15px">
                <h5>Estamos validando sus datos</h5>
            </div>
            <div class="panel-body">
                <section id="loginForm" style="text-align:justify">
                    @Html.Raw(Model.MessageLogin)
                    <hr />
                    <a class="btn btn-giroala" href="@Url.Action("Index","Home")">Ok</a>
                </section>               
            </div>
        </div>
    </div>
</center>

