@{
    ViewBag.Title = "Confirmación Reset password";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<center style="padding-top:10%;">
    <div class="cuadro-login" style="border-radius:15px">
        <div class="panel-primary">
            <div class="panel-heading" style="border-top-left-radius:15px; border-top-right-radius:15px">
               <h3>@ViewBag.Tittle</h3>
            </div>
            <div class="panel-body">
                <section id="loginForm">
                    <p>
                        Tu contraseña ha sido restablecida. Por favor @Html.ActionLink("haga clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </section>
            </div>

        </div>
    </div>
</center>
