@{
    ViewBag.Title = "Confirmar Email";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu correo electrónico. Por favor <a href="http://djarquin01-002-site4.1tempurl.com/Account/Login" id="loginLink">Haga clic aquí para ingresar</a>
    </p>
</div>
