@{
    ViewBag.Title = "Confirmar Email";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu correo electrónico. Por favor <a href="@ViewBag.ECommercePath" id="loginLink">haga clic aquí para ingresar</a>.
    </p>
</div>
