
@{
    ViewBag.Title = "BuildSite";
}

<div class="container">
    <div class="row align-self-center justify-content-center">
        <div class="col-sm-12 col-md-5 align-self-center pt-5 pb-5 justify-content-center">
            <div class="panel container cuadro-border">
                <div class="panel-heading pt-2">
                    <h5>Sitio en Construcción</h5>
                    <hr />
                </div>
                <div class="panel-body">
                    Esta en construcción esta parte del sitio web sí deseas consultar algo en especifico puede contactarse.
                    <hr />
                    <a class="btn btn-giroala" href="@Url.Action("Contact","Home")">Contactenos</a>
                </div>
            </div>

        </div>
    </div>
</div>


