@{
    ViewBag.Title = "Contact";
}
<center style="padding-top:5%; padding-bottom:5%;">
    <div class="cuadro-login" style="border-radius:15px; width:50%">
        <div class="panel panel-primary m-4">
            <div class="panel-heading" style="border-top-left-radius:15px; border-top-right-radius:15px">
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="panel-body">
                <section id="loginForm">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>Por favor comuníquese a <a href="mailto:Support@example.com">Support@example.com</a>. Ó al número 98052-6399 Gracias.</p>
                    }
                    else
                    {
                        <p>Déjame saber tus inquietudes por favor a  este … Email  o chatea con nosotros.</p>
                    }                    
                    <address>
                        <strong>Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    </address>
                </section>
            </div>
        </div>
    </div>
</center>




