@model Chavo.ECommerce.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (!string.IsNullOrEmpty(Model.VideoBanner))
{
    <iframe style="width:100%; min-height:315px; height:auto" src=@Model.VideoBanner allow="autoplay"></iframe>
}
else
{
    <div class="jumbotron">
        <h1>Chavito</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
}

<div class="row">
    <div class="col-3">
        <div class="container">
            <h2>Filtros</h2>
            <p>
                <ul>
                    <li>
                        Tecnologia
                        <ul>
                            <li>
                                Tecnologicos
                            </li>
                        </ul>
                    </li>
                    <li>
                        Casino
                    </li>
                </ul>
            </p>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-9">
        <h2>Productos</h2>
        <div class="row">
            @foreach (var item in Model.Products)
            {
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="@Url.Content(item.FullRoutePicture)" class="card-img-top img-thumbnail" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@Html.Raw(item.Description)</p>
                        <div class="form-group" style="text-align:center">
                            <a href="#" class="btn btn-warning">Seleccionar este para mi</a><br />
                            <a href="#" class="btn btn-warning mt-2">Adquirir este producto</a>
                        </div>

                    </div>
                </div>
            </div>               
            }
        </div>
    </div>    
</div>