
@{
    ViewBag.Title = "Lerning Zone";
}
<div class="pb-5 mb-2" style="padding-left:2em;padding-right:2em;">
    <h2>@ViewBag.Title</h2>
    <hr />
    <p class="bg-light" style="color:black !important; font-weight:bold">
        ESTAS INTENTANTO INGRESAR A LA ZONA PRIVADA DE APRENDIZAJE DE ROMANICO GR
    </p>
    <center>
        <button class="btn btn-lg btn-giroala" style="height:150px;width:200px;">Ya tengo Usuario para acceder a la zona de aprendizaje</button>
        <button class="btn btn-lg btn-success" style="height:150px;width:200px;">Obtener mi usuario para acceder a la zona de aprendizaje</button>
    </center>
    <p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-light"><i class="fa fa-arrow-left"></i>&nbsp;Atras</a>
    </p>
</div>
